:root{
    --primary: #ff7d10;
    --second: #0a0310;
    --third: #ffb238;
    
    /* Tons de apoio */
  --primary-dark: #e66e0e;   /* hover / active */
  --primary-light: #ffd2a8;  /* fundos suaves */

  --second-soft: #1a1024;    /* fundo secundário */
  --second-light: #2a1d3d;   /* cards / sections */

  /* Neutros */
  --text-main: #f5f5f5;      /* texto principal */
  --text-muted: #b9b6c1;     /* texto secundário */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--second);
    color: white;
}

header{
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
    transition: 0.2s ease-in-out;
}

.header-desktop{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
    transition: 0.2s ease-in-out;
}

.scrolled{
    background-color: var(--primary);
    color: var(--second);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px var(--primary-dark);
 }


.name{
    font-size: 13px;
    font-weight: 500;
}

.surname{
    font-size: 18px;
    font-weight: 800;
}

nav{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.list-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list-menu li{
    list-style: none;
}

.list-menu li a{
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.list-menu li a:hover{
    color: var(--primary);
}

button{
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: var(--primary);
    color: black;
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 0 10px var(--third);
}

.dropdown{
    display: none;
}

.container-on{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, var(--primary) 25%, var(--second) 25%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    max-width: 1200px;
}


.img-main,
.text-main{
    width: 50%;
    color: white;
}

.text-main{
   display: flex;
    flex-direction: column;
    width: 40%;
    justify-self: start;
    margin-left: -120px;
    gap: 1rem;
    align-items: center;
}

.text-main h2{
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 1px 1px 10px var(--primary);
}

.specialties h2{
    margin: 25px 0;
    text-align: center;
    color: white;
}

.specialties span{
    color: var(--primary);
}

.all-cards-specialties{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card-specialties{
    border-radius: 10px;
    background-color: var(--second-light);
    padding: 20px;
}

.card-specialties > span,
.card-specialties > h3 {
    display: inline-block;
    margin-bottom: 30px;
}

.card-specialties > h3{
    margin-left: 10px;
}

.card-specialties .material-symbols-outlined{
    background-color: var(--second);
    padding: 5px;
    border-radius: 5px;
    font-size: 50px;
}

.specialties span{
    color: var(--primary);
}

.btn-cards{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.btn-cards button{
    margin: 0 auto;
    align-items: center;
}

.projects{
    width: 100%;
    margin: 20px auto 0;
    background-color: var(--second-soft);
    padding: 2rem;
    max-width: 1200px;
}

.projects span{
    color: var(--primary);
    font-weight: 700;
}

.all-cards-projects{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
}

.card-projects{
    width: 100%;
}

.card-projects img{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--third);
}

.projects button{
    grid-column: 1 / -1;
    justify-self: center;
}

.content-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto ;
    background-color: var(--second-light);
    padding: 2rem 0;
    max-width: 1200px;
}

.contacts-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    justify-content: center;
}

.contacts-form span{
    color: var(--primary);
    
}

.email-form, .wpp-form{
    display: flex;
    font-size: 15px;
    gap: 1rem;
}

.wpp-form img{
    width: 25px;
    height: 25px;
}

.dados-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.dados-form input{
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px 0 10px 10px;
}

.cards-projects-extra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-column: 1 / -1;
}

.hidden{
    display: none;
}