:root{
    --primary: #ff7d10;
    --second: #0a0310;
    --third: #ffb238;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--second), var(--second));
}

.list-menu{
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: var(--primary);
    padding: 15px 0;
    font-weight: 600;
}

.list-menu li{
    list-style: none;
}

.list-menu li a{
    color: black;
    text-decoration: none;
}

.btn-header{
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--third);
}

.dropdown{
    display: none;
}

main{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: var(--third);
}

.img-main{
    width: 35%;
}

.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: flex-start;
}

.subtitle-main{
    display: flex;
    justify-content: flex-end;
}

