:root{
    --primary: #ff7d10;
    --second: #0a0310;
    --third: #ffb238;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--second);
}

header{
    background-color: var(--primary);
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header-desktop{
    display: flex;
    margin: 0 auto;
    padding-top: 15px;
}

.name{
    font-size: 13px;
    font-weight: 500;
}

.surname{
    font-size: 18px;
    font-weight: 800;
}

nav{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.list-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list-menu li{
    list-style: none;
}

.list-menu li a{
    color: black;
    text-decoration: none;
}

.btn-header{
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--third);
}

.dropdown{
    display: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}


.img-main,
.text-main{
    width: 50%;
}

.text-main{
   display: flex;
    flex-direction: column;
    width: 40%;
    color: var(--primary);
    justify-self: start;
    margin-left: -120px;
    gap: 1rem;
    align-items: center;
}

.text-main h2{
    color: var(--third);
    text-transform: uppercase;
}



